# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Firebase
.firebase/
firebase-debug.log
*.emulators.export

# Next.js build and cache
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log

# Environment variables
.env
.env*.local
*.env

# IDE config
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
